Repository WavesHQ/wallet-website-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @lykalabrada, @mikhail-zlochevskyi, @izzycsy

feature(stab-fee): use poolpair's 'inPct' as stab fee
  src/pages/api/v0/wallet/dex-stab-fees.ts
  src/pages/api/v0/wallet/poolpairs.utils.ts
Owners: @thedoublejay, @lykalabrada

feature(stab-fee): combine fees and pairs apis into one
  cypress/e2e/wallet/best-path-pairs-with-stab-fees.spec.ts
  cypress/e2e/wallet/dex-stab-fees.spec.ts
  cypress/e2e/wallet/pairs-with-stab-info.spec.ts
  src/pages/api/v0/wallet/best-path-pairs-with-stab-fees.ts
  src/pages/api/v0/wallet/dex-stab-fees.ts
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
  src/pages/api/v0/wallet/poolpairs.utils.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feature(stab-fee): remove hardcoded 'DUSD', tokenA should always be the inPct
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
  src/pages/api/v0/wallet/poolpairs.utils.ts
Owners: @thedoublejay, @lykalabrada

feature(stab-fee): move poolpairs into utils dir, remove scan url mapping
  cypress/e2e/wallet/pairs-with-stab-info.spec.ts
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
  src/utils/poolpairs.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

fix(lint): stab fee - fix lint error
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
Owners: @thedoublejay, @lykalabrada

feature(stab-fee): rename fee percentage
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
  src/utils/poolpairs.ts
Owners: @thedoublejay, @lykalabrada

feature(stab-fee): export return interface
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
Owners: @thedoublejay, @lykalabrada

feature(stab-fee): return defiscan url based on network
  cypress/e2e/wallet/pairs-with-stab-info.spec.ts
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feature(stab-fee): return pair display symbol
  cypress/e2e/wallet/pairs-with-stab-info.spec.ts
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feat(dex): add new api `/pairs-with-stab-info` to fetch filtered list of poolpairs with stab fee (#88)
  cypress/e2e/wallet/pairs-with-stab-info.spec.ts
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/wallet/pairs-with-stab-info.ts
  src/utils/poolpairs.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(ops): turn down bridge
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @lykalabrada

chore(ops): re-enable bridge
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @lykalabrada

feat(bridge): announcement - add id prop
  src/pages/api/v0/bridge/announcements.ts
Owners: @thedoublejay, @lykalabrada

feat(bridge): announcement - add id prop (#93)
  src/pages/api/v0/bridge/announcements.ts
Owners: @thedoublejay, @lykalabrada

test announcment update;
  src/pages/api/v0/bridge/announcements.ts
Owners: @thedoublejay, @lykalabrada

revert;
  src/pages/api/v0/bridge/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore(e2e): added response verifications for /flags and /announcements apis; (#67)
  cypress.config.js
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/fixtures/announcements.json
  cypress/fixtures/flags.json
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feature(ops): node 18 and api
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

feature(ops): node 18 and api (#96)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

chore(core): add evm flag
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

test yml
  .github/workflows/ci-e2e.yml
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/fixtures/announcements.json
  cypress/fixtures/flags.json
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/bridge/limits.ts
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

test yml
  .github/workflows/ci-e2e.yml
Owners: @thedoublejay

chore(core): add evm flag (#107)
  .github/workflows/ci-e2e.yml
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/fixtures/announcements.json
  cypress/fixtures/flags.json
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/bridge/limits.ts
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feat(core): update service provider flag details
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feat(core): update service provider flag details (#110)
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(core): enable evm on testnet
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(core): enable evm on testnet
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(core): enable evm on testnet (#111)
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feat(flags): add flag for allowing dusd loop
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(ops): bump walletkit-core to 1.3.8
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

fix(tests): fix e2e test
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

fix(tests): fix e2e test
  cypress/fixtures/flags.json
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feat(core): add flag for allowing dusd loop (#112)
  cypress/fixtures/flags.json
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(ops): disable evm on testnet
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(ops): disable evm on testnet
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(ops): disable dusd loops on testnet (#113)
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(ops): enable dusd loops
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(ops): enable dusd loops
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(ops): enable dusd loops (#114)
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(ops): enable dusd-loops on mainnet
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay
/.husky/                                        @thedoublejay

/src/                                           @thedoublejay @lykalabrada
/cypress/                                       @thedoublejay @mikhail-zlochevskyi @izzycsy @lykalabrada

/src/styles/                                    @thedoublejay @lykalabrada
postcss.config.js                               @thedoublejay @lykalabrada
tailwind.config.js                              @thedoublejay @lykalabrada

/public/                                        @thedoublejay @lykalabrada

next.config.js                                  @thedoublejay
package.json                                    @thedoublejay
package-lock.json                               @thedoublejay
tsconfig.json                                   @thedoublejay

CONTRIBUTING.md                                 @thedoublejay
README.md                                       @thedoublejay
LICENSE                                         @thedoublejay
