Repository WavesHQ/wallet-website-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @lykalabrada, @mikhail-zlochevskyi, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay
/.husky/                                        @thedoublejay

/src/                                           @thedoublejay @lykalabrada
/cypress/                                       @thedoublejay @mikhail-zlochevskyi @izzycsy @lykalabrada

/src/styles/                                    @thedoublejay @lykalabrada
postcss.config.js                               @thedoublejay @lykalabrada
tailwind.config.js                              @thedoublejay @lykalabrada

/public/                                        @thedoublejay @lykalabrada

next.config.js                                  @thedoublejay
package.json                                    @thedoublejay
package-lock.json                               @thedoublejay
tsconfig.json                                   @thedoublejay

CONTRIBUTING.md                                 @thedoublejay
README.md                                       @thedoublejay
LICENSE                                         @thedoublejay

add empty line
  src/specs/healthcheck.spec.ts
Owners: @thedoublejay, @lykalabrada

adjust for pnpm usage;
  babel.config.js
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

prettier applied;
  src/specs/healthcheck.spec.ts
Owners: @thedoublejay, @lykalabrada

chore: add de and fr announcement
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore(translation): add de and fr to negative interest rate announcement (#52)
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

added ci step build_run_test;
  .github/workflows/ci.yml
Owners: @thedoublejay

feat: update announcement
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore(api): update announcement for negative rate (#53)
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore: update url and zh translations
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore: prettier formatting
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore(announcement): update url and zh translations (#54)
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

feature(limits): expose bridge limits
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/announcements.ts
  src/pages/api/v0/bridge/limits.ts
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

feature(limits): expose bridge limits
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

add sleep 10 after server start; add async catch;
  .github/workflows/ci.yml
  babel.config.js
  src/specs/healthcheck.spec.ts
Owners: @thedoublejay, @lykalabrada

test
  .github/workflows/ci.yml
  src/specs/healthcheck.spec.ts
Owners: @thedoublejay, @lykalabrada

rename localhost;
  src/specs/healthcheck.spec.ts
Owners: @thedoublejay, @lykalabrada

update btc limit
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

feature(limits): expose bridge limits
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

feature(chore): add feature flag for Quantum Maintenance
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

feature(chore): add maintenance flag for Quantum
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(e2e): add setup for Cypress to test response
  .github/ci-e2e.yml
  cypress.config.js
  cypress/.eslintrc
  cypress/e2e/bridge/limits.spec.ts
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(e2e): add setup for Cypress to test response (#59)
  .github/ci-e2e.yml
  cypress.config.js
  cypress/.eslintrc
  cypress/e2e/bridge/limits.spec.ts
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

chore(e2e): add setup for Cypress to test response
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

chore(e2e): add setup for Cypress to test response
  .github/workflows/ci-e2e.yml
Owners: @thedoublejay

chore(e2e): add setup for Cypress to test response
  package.json
Owners: @thedoublejay

feature(bridge/status): return status flag
  cypress/e2e/bridge/status.spec.ts
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feature(bridge/status): return status flag (#65)
  cypress/e2e/bridge/status.spec.ts
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

added response verifications for /flags and /announcements apis;
  cypress.config.js
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/fixtures/announcements.json
  cypress/fixtures/flags.json
Owners: @thedoublejay, @mikhail-zlochevskyi, @izzycsy, @lykalabrada

feature(limits): expose bridge limits
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

feature(limits): expose bridge limits
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

updated pnpm
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  package.json
Owners: @thedoublejay

chore(refactor): updated package json and CI (#71)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  package.json
Owners: @thedoublejay

feature(limits): update mainnet limits
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

feature(limits): update mainnet limits
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

feature(limits): update mainnet limits
  src/pages/api/v0/bridge/limits.ts
Owners: @thedoublejay, @lykalabrada

chore(api): Temporarily put down bridge
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @lykalabrada

chore(api): set bridge status type to boolean
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @lykalabrada

chore(api): temporarily put down bridge (#74)
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @lykalabrada

chore(api): Turn back up bridge
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @lykalabrada

chore(ops): enable bridge
  src/pages/api/v0/bridge/status.ts
Owners: @thedoublejay, @lykalabrada
