Repository WavesHQ/wallet-website-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @lykalabrada, @mikhail-zlochevskyi, @izzycsy

feature(setup): initial setup
  README.md
Owners: @thedoublejay

feature(setup): container update
  src/pages/404.tsx
Owners: @thedoublejay, @lykalabrada

fix(core): update wallet-core to walletkit-core
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

fix(core): update imports
  src/pages/api/v0/announcements.ts
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(core): add ocg feature flag
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore: update stage to alpha
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

feature(core): add ocg feature flag and update walletkit-core (#14)
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/announcements.ts
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore: update cfp/dfip flag name and description
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(flags): update cfp/dfip flag name and description (#24)
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

add desktop light wallet update route
  package.json
  pnpm-lock.yaml
  src/pages/api/desktop-light-wallet-version/[platform]/[current_version].ts
  src/utils/getLatestGithubReleases.ts
Owners: @thedoublejay, @lykalabrada

revert
  package.json
Owners: @thedoublejay

rever
  pnpm-lock.yaml
Owners: none

regenerate pnpm-lock
  pnpm-lock.yaml
Owners: none

chore(deps): update to standard
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

regenarete package-lock
  pnpm-lock.yaml
Owners: none

chore(deps): update to standard
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

chore(deps): update to standard (#28)
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay

resolve eslint
  pnpm-lock.yaml
Owners: none

chore: update cfp/dfip flag to beta
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(core): update cfp/dfip feature flag to beta (#31)
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

feat: update ocg flag to >2.13.1
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(flag): update ocg flag to >2.13.1 (#37)
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

fix signature issue
  pnpm-lock.yaml
  src/utils/getLatestGithubReleases.ts
Owners: @thedoublejay, @lykalabrada

fix eslint issue
  pnpm-lock.yaml
Owners: none

chore(deps): disable OCG
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(deps): disable OCG (#39)
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(deps): beta on playground
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(deps): add devnet
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(deps): add devnet (#40)
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(flags): enable CFP creation
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(flags): enable CFP creation (#46)
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore: update ocg beta flag title
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

chore(api): update ocg beta flag title (#47)
  src/pages/api/v0/settings/flags.ts
Owners: @thedoublejay, @lykalabrada

feat: add announcement to guide user to leverage negative interest rate
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore: prettier linting
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

feat: add same announcement on scan
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore: update version for scan announcement
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

chore(announcement): add announcement to guide user to leverage negative interest rate (#50)
  src/pages/api/v0/announcements.ts
Owners: @thedoublejay, @lykalabrada

added healthchecks for flags and announcements; axios lib;
  babel.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/specs/healthcheck.spec.ts
Owners: @thedoublejay, @lykalabrada

removed npm lock;
  package-lock.json
Owners: @thedoublejay

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay
/.husky/                                        @thedoublejay

/src/                                           @thedoublejay @lykalabrada
/cypress/                                       @thedoublejay @mikhail-zlochevskyi @izzycsy @lykalabrada

/src/styles/                                    @thedoublejay @lykalabrada
postcss.config.js                               @thedoublejay @lykalabrada
tailwind.config.js                              @thedoublejay @lykalabrada

/public/                                        @thedoublejay @lykalabrada

next.config.js                                  @thedoublejay
package.json                                    @thedoublejay
package-lock.json                               @thedoublejay
tsconfig.json                                   @thedoublejay

CONTRIBUTING.md                                 @thedoublejay
README.md                                       @thedoublejay
LICENSE                                         @thedoublejay
