Repository WavesHQ/wallet-website-api, pull requests merged in 2023-10, with the labels that each got.

#107 chore(core): add evm flag
  .github/workflows/ci-e2e.yml
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/fixtures/announcements.json
  cypress/fixtures/flags.json
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/bridge/limits.ts
  src/pages/api/v0/settings/flags.ts
Labels: area/workflows, kind/chore

#110 feat(core): update service provider flag details
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Labels: kind/feature

#111 chore(core): enable evm on testnet
  cypress/fixtures/flags.json
  src/pages/api/v0/settings/flags.ts
Labels: kind/chore

#112 feat(core): add flag for allowing dusd loop
  cypress/fixtures/flags.json
  package.json
  pnpm-lock.yaml
  src/pages/api/v0/settings/flags.ts
Labels: kind/feature
