Repository WavesHQ/wallet-website-api, pull requests merged in 2023-02, with the labels that each got.

#50 chore(announcement): add announcement to guide user to leverage negative interest rate
  src/pages/api/v0/announcements.ts
Labels: kind/chore

#52 chore(translation): add de and fr to negative interest rate announcement
  src/pages/api/v0/announcements.ts
Labels: kind/chore

#53 chore(api): update announcement for negative rate
  src/pages/api/v0/announcements.ts
Labels: kind/chore

#54 chore(announcement): update url and zh translations
  src/pages/api/v0/announcements.ts
Labels: kind/chore

#59 chore(e2e): add setup for Cypress to test response
  .github/ci-e2e.yml
  cypress.config.js
  cypress/.eslintrc
  cypress/e2e/bridge/limits.spec.ts
  cypress/e2e/wallet/announcements.spec.ts
  cypress/e2e/wallet/flags.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: area/workflows, kind/chore

#65 feature(bridge/status): return status flag
  cypress/e2e/bridge/status.spec.ts
  src/pages/api/v0/bridge/status.ts
Labels: kind/feature

#71 chore(refactor): updated package json and CI
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  package.json
Labels: area/workflows, kind/chore
